<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OD form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0-RC3/js/bootstrap-datepicker.min.js" integrity="sha512-VLnVmW2Kku8Jtx7HCs7N1Y6gLXL0OUHAS853gMS9LxwVjrSCf6RcTnjyZp/BKkN83u0fTEGK8lTXbviFMPibVA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="container container-lg">
        <div class="jumbotron ">
            <h1 class="display-4">OD Application</h1>
            <p class="lead">This is an OD form for those of you who try to bunk using ACM</p>
          </div>
    </div>
      <div class="container-md">
      <form class="needs-validation" action="/register" method="POST" novalidate>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label >Name</label>
            <input type="text" class="form-control" name="name" id="name" required>
            <div class="invalid-feedback">
              please enter valid name
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label >Reg No:</label>
            <input type="number" class="form-control" name="regno" id="regno" required>
            <div class="invalid-feedback">
              Please enter valid registration number
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="semester" >Semester</label>
            <input type="number" class="form-control" id="semester" name="semester" required>
            <div class="invalid-feedback">
              Please provide a valid semester.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label >OD type</label>
            <select class="custom-select" id="odType" name="odType" required>
              <option selected disabled value="">Choose...</option>
              <option>Normal OD</option>
              <option>Special OD</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid OD type
            </div>
          </div>
          <div class="form-group">
            <label >Reason</label>
            <textarea class="form-control" id="Reason" name="reason" rows="3" required></textarea>
            <div class="invalid-feedback">
                Please select a valid reason
            </div>  
          </div>

          <div class="form-group input-daterange" >
            <input type="text" class="form-control" value="2012-04-05" name="from" required>
            <div class="input-group-addon">to</div>
            <input type="text" class="form-control" value="2012-04-19" name="to" required>
        </div>
        
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
    </div>
      <script src="jquery-1.6.1.js"></script>
      <script src="jq.js"></script>

    <script>  
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>
</body>
</html>